<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/menu.xsd">
    <menu>
        <add id="MyRacehorse_Admgrid::ticket" title="Tickets" module="MyRacehorse_Admgrid" sortOrder="10" parent="Magento_Backend::marketing" action="myracehorse_admgrid/ticket/index"/>
    </menu>
</config>
